.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.phaser-container {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: white;
  border: 2px solid #000;
}

#phaser-game {
  width: 100%;
  height: 100%;
  background-color: white;
}
.session-history-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
